*{
    margin: 0px;
    padding: 0px;
}

/* Animasi Fade & Slide dari bawah */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay bertahap untuk efek cinematic */
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1.0s; }

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #c8c8c8;
}

#wraper{
    margin: 0px 150px;
    background-color: #f1f1f1;
}

#header{
    background-color: #01627a;
    padding-left: 50px;
    padding-right: 50px;
}

#header {
    opacity: 0;
    transform: translateY(-20px);
    animation: headerIn 0.8s ease-out forwards;
    animation-delay: 0.1s;
}

@keyframes headerIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#header h3{
    padding: 10px 15px;
    display: block;
    color: #ffffff;
    float: left;
    width: 100px;
    line-height: 25px;
    /* background-color: #000; */
}

#menu{
    display: block;
}

#header, #menu{
    height: 50px;
}

#navigasi{
    position: relative;
    line-height: 25px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}

#navigasi li{
    position: relative;
    float: left;
}

#navigasi a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
}

#hero{
    padding: 50px 0px;
    text-align: center;
}

#hero img{
    margin-bottom: 20px;
}

.hero-tag{
    margin: 30px 200px 30px 200px;
}

.btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #00533b;
    border-radius: 25px;
    padding: 10px 15px;
}

.btn:hover {
    transform: scale(1.1);
}

.content{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    /* min-height: 200;
    background-color: aqua; */
}

.content .grid-50{
    width: 50%;
    /* background-color: #c8c8c8; */
}

.content h3{
    margin-bottom: 20px;
}

.content table,tbody{
    width: 100%;
}

.content ul,li{
    list-style-type: none;
    line-height: 25px;
}

table td {
    vertical-align: top;
    padding: 4px 8px;
}

.profile-img {
    width: 200px;            /* ukuran bebas */
    height: 200px;           /* harus sama agar bulat */
    object-fit: cover;       /* biar gambar tidak gepeng */
    border-radius: 50%;      /* membuat lingkaran */
    border: 5px solid #1bac83;  /* garis tepi (warna bisa diganti) */
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* opsional efek glow */
    object-position: top;
}

#profile {
    background-color: #dadada;
    margin-bottom: 5px;
}

#skill{
    background-color: #dadada;
    text-align: center;
}

#kontak {
    display: flex;
    justify-content: center;  /* center horizontal */
    align-items: center;      /* center vertical */
    flex-direction: column;
}

#kontak ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column; /* susun ke bawah */
    gap: 10px; /* jarak antar tombol */
    align-items: center; /* posisikan tombol ke tengah */
}

#kontak ul li {
    text-align: center;
}

#kontak .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

#about {
    text-align: center;
    display: inline-block;
    background-color: #dadada;
}

footer{
    text-align: center;
    padding: 25px;
    color: #ffffff;
    background-color: #05707e;
    justify-content: center;
}